[submodule "CPP-Module-00"]
	path = CPP-Module-00
	url = https://github.com/kirabin/CPP-Module-00
[submodule "CPP-Module-01"]
	path = CPP-Module-01
	url = https://github.com/kirabin/CPP-Module-01
[submodule "CPP-Module-02"]
	path = CPP-Module-02
	url = https://github.com/kirabin/CPP-Module-02
[submodule "CPP-Module-03"]
	path = CPP-Module-03
	url = https://github.com/kirabin/CPP-Module-03
[submodule "CPP-Module-04"]
	path = CPP-Module-04
	url = https://github.com/kirabin/CPP-Module-04
[submodule "CPP-Module-05"]
	path = CPP-Module-05
	url = https://github.com/kirabin/CPP-Module-05
[submodule "CPP-Module-06"]
	path = CPP-Module-06
	url = https://github.com/kirabin/CPP-Module-06
[submodule "CPP-Module-07"]
	path = CPP-Module-07
	url = https://github.com/kirabin/CPP-Module-07
[submodule "CPP-Module-08"]
	path = CPP-Module-08
	url = https://github.com/kirabin/CPP-Module-08
